*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
a, a:visited{
    color: #000;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#4ca2cd,#67B26F);
}
.wrapper{
    width: 380px;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}
.result{
    text-align: center;
}
.result-first{
    margin-top: 25px;
    font-size: 22px;
    font-weight: 700;
}
#result-img{
    margin: 40px 0 10px 0;
    width: 330px;
    height: auto;
    border-radius: 10px;
}
.result-title{
    margin: 15px 0;
    font-size: 27px;
    text-align: center;
    font-weight: 900;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.goto, .share{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 14px 10px 14px;
    background-color: silver;
    border-radius: 20px;
    transition: .15s ease-in-out;
    margin-top: 50px;
}
.goto:hover,
.goto:active,
.goto:focus{
    background-color: #4ca2cd;
    color: #fff;
}
.share{
    margin-right: 30px;
}
.share:hover,
.share:active,
.share:focus{
    background-color: #67B26F;
    color: #fff;
}