*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
a, a:visited{
    color: #000;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#4ca2cd,#67B26F);
}
.home-wrapper{
    width: 360px;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
}
.home_image{
    width: 320px;
    height: auto;
}
.home_image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.home_start{
    text-align: center;
    margin-top: 20px;
}
.home_start-title{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 10px;
}
.homt_start-text{
    font-size: 17px;
    margin-bottom: 30px;
}
.home_start-btn{
    font-weight: 700;
    background-color: silver;
    color: #fff;
    padding: 10px 22px;
    font-size: 22px;
    border-radius: 25px;
    transition: .15s ease-in-out;
}
.home_start-btn:hover,
.home_start-btn:active,
.home_start-btn:focus{
    background: #5BAB9D;
    color: #fff;
}
